
	#debug_output,
	#debug_output #debug_links,
	#debug_output #debug_links a.debug_link,
	#debug_output .debug_notes,
	#debug_output .debug_notes .note,
	#debug_output .debug_notes .note h2,
	#debug_output .debug_notes .note a,
	#debug_output .debug_notes .note pre,
	#debug_output .debug_notes .note div,
	#debug_output .debug_notes .note table,
	#debug_output .debug_notes .note table th,
	#debug_output .debug_notes .note table td,
	#debug_output .debug_notes .note ul,
	#debug_output .debug_notes .note ul li,
	#debug_output .debug_notes .note .note_lines,
	#debug_output .debug_notes .note .note_lines li,
	#debug_output .debug_notes .note .debug_keys,
	#debug_output .debug_notes .note .debug_keys p {
		color: #000;
		background: inherit;
		padding: 0;
		margin: 0;
		font: normal normal 12px/14px monospace;
		text-align: left;
		text-decoration: none;
		max-width: none;
	}

	#debug_output {
		margin: 10px 0 0 0;
		padding: 0;
		clear: both;
	}

	#debug_output #debug_links span.debug_time,
	#debug_output #debug_links a.debug_link {
		padding: 1px;
		color: #767676;
		background: #FFF;
		font-family: helvetica;
	}

	#debug_output #debug_links a.debug_link.debug_link_open {
		color: #00F;
	}

	#debug_output #debug_links span.debug_time.debug_slow {
		color: #A00;
		font-weight: bold;
	}

	#debug_output #debug_links a.debug_link {
		font-weight: bold;
	}

	#debug_output #debug_links a.debug_link:before {
		content: "[";
	}

	#debug_output #debug_links a.debug_link:after {
		content: "]";
	}

	#debug_output .debug_notes {
		margin: 0;
		padding: 0 5px;
		clear: both;
		text-align: left;
		display: none;
	}

	#debug_output .debug_notes.debug_notes_open {
		display: block;
	}

	#debug_output .debug_notes .note {
		padding: 5px;
		margin: 5px 0;
		border: 1px solid #000;
		clear: both;
		overflow: auto;
		white-space: nowrap;
	}

	#debug_output .debug_notes .note a,
	#debug_output .debug_notes .note .debug_found,
	#debug_output .debug_notes .note .debug_unchanged,
	#debug_output .debug_notes .note span.comment {
		color: #00F;
		background: inherit;
	}

	#debug_output .debug_notes .note .debug_absent,
	#debug_output .debug_notes .note strong.warning {
		color: #A00;
		background: inherit;
	}

	#debug_output .debug_notes .note h2 {
		font-weight: bold;
	}

	#debug_output .debug_notes .note.debug_plain h2,
	#debug_output .debug_notes .note h2 span {
		font-weight: normal;
	}

	#debug_output .debug_notes .note .note_lines {
		list-style: none;
	}

	#debug_output .debug_notes .note .note_text,
	#debug_output .debug_notes .note .note_lines {
		white-space: pre;
	}

	#debug_output .debug_notes .note.note_heading .note_text,
	#debug_output .debug_notes .note.note_heading .note_lines {
		padding-left: 10px;
	}

	#debug_output .debug_notes .note pre {
		display: block;
	}

	#debug_output .debug_notes .note.debug_sql .note_text {
		padding: 10px 0;
	}

	#debug_output .debug_notes .note.debug_sql .value {
		color: #A00;
	}

	#debug_output .debug_notes .note ul {
		margin: 10px 0 5px 2em;
	}

	#debug_output .debug_notes .note table {
		border-spacing: 0;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: #000;
		margin: 10px 0 0 0;
	}

	#debug_output .debug_notes .note table th,
	#debug_output .debug_notes .note table td {
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-color: #000;
		padding: 0.2em;
	}

	#debug_output .debug_notes .note.debug_keys .note_lines {
		padding-left: 3em;
		white-space: normal;
	}

	#debug_output .debug_notes .note.debug_keys .note_lines li {
		text-indent: -2em;
	}
